<div class="container mt-4">
  <h3>Resumo Diário</h3>

  <form (ngSubmit)="applyFilter()" class="row py-3 g-3">
    <div class="col-auto">
      <label class="form-label">Qtd. Items:</label>
      <select class="form-select" [(ngModel)]="size" name="size">
        <option [value]="5">5</option>
        <option [value]="10">10</option>
        <option [value]="20">20</option>
        <option [value]="30">30</option>
      </select>
    </div>
    <div class="col-auto d-flex flex-column justify-content-end">
      <button class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
          <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
        </svg>
      </button>
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>Período</th>
        <th>Quantidade de Registros</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let day of summary.items">
        <td>
          {{ day.periodStart | date: 'dd/MM/YYYY HH:mm' }}
          {{ day.periodStart ? 'até' : 'tudo até' }}
          {{ day.periodEnd | date: 'dd/MM/YYYY HH:mm' }}
        </td>
        <td>{{ day.numberOfRecords }}</td>
        <td>{{ day.totalAmount | currency: 'BRL' }}</td>
      </tr>
    </tbody>
  </table>
  <nav>
    <ul class="pagination justify-content-end">
      <li class="p-2">
        Listando de {{ (page - 1) * size + 1 }}-{{ (page - 1) * size + summary.items.length}} do total de {{total}} registos.&nbsp;
      </li>
      <li class="page-item" [class.disabled]="page === 1">
        <button class="page-link" (click)="changePage(-1)">Anterior</button>
      </li>
      <li class="page-item disabled">
        <span class="page-link">{{ page }}</span>
      </li>
      <li class="page-item" [class.disabled]="page * size >= total">
        <button class="page-link" (click)="changePage(1)">Próximo</button>
      </li>
    </ul>
  </nav>
</div>
